*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(to bottom,#43c463,#a8e6af);
}

.container{
    width:400px;
    background:#48b85b;
    padding:40px;
    border-radius:8px;
    box-shadow:0 15px 30px rgba(0,0,0,0.3);
}

.container h1{
    text-align:center;
    color:white;
    margin-bottom:40px;
    font-size:20px;
}

.input-group{
    position:relative;
    margin-bottom:35px;
}

.input-group input,
.input-group select{
    width:100%;
    border:none;
    border-bottom:2px solid rgba(255,255,255,0.5);
    background:transparent;
    outline:none;
    color:white;
    font-size:18px;
    padding:10px 0;
}

.input-group select{
    appearance:none;
    cursor:pointer;
}

.input-group label{
    position:absolute;
    left:0;
    top:10px;
    color:white;
    pointer-events:none;
    transition:.3s;
}

.input-group input:focus + label,
.input-group input:valid + label,
.input-group select:focus + label,
.input-group select:valid + label{
    top:-15px;
    font-size:12px;
}

.gender{
    color:white;
    margin-bottom:35px;
}

.gender span{
    margin-right:10px;
}

.gender label{
    margin-right:10px;
}

button{
    width:180px;
    height:45px;
    background:transparent;
    color:white;
    border:2px solid white;
    letter-spacing:4px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:white;
    color:#48b85b;
}

.back-link{
    text-align:center;
    margin-top:30px;
}

.back-link a{
    color:white;
    text-decoration:none;
}

.back-link a:hover{
    text-decoration:underline;
}